<pre>
Hi UC team!

I work with Alexa Curtis on the Be Fearless Summit team, she launched the Be Fearless Summit last year, more info on the <a href="https://www.befearlesssummit.org/" target="blank">website</a>. The next summit is April 1 at UC Berkeley, and we are working in partnership with Her Campus. We'd love to bring as much attention to the conference and bring even more of your students in to the incredible day, I wanted to see if there is any opportunity to help promote the event or even involve your club in it.

Thank you!

Sumithra Jonnalagadda
<a href="https://www.befearlesssummit.org/" target="blank">Be Fearless Summit</a>
</pre>