<!-- <pre> -->
    <p style="text-align: left; font-size: medium;">Dear <%= name %>,</p>

    <p style="text-align: left; font-size: medium;">
        My Name is Dr. Aaron Orpelli, DC.  Hope you are taking care of yourself during these dangerous times. To guide my patients and community at large into wellness, I am starting "The Dr.O Show" on YouTube. In this program, I will talk directly to my patients, and the general public,  in regards to the health of their immune system.

        Click <a href="#">this link </a> to pick a date to join me on Dr. O Show
    </p>

    <!-- <img style="max-width: 400px;" src="<%= image %>" target="blank"> -->


    <!-- <div style="line-height: 9px;">
        <p>William Gulliver</p>
        <p>805-905-5170</p>
        <p>bill@codemarket.io</p>
        <p>Dir of Business Development</p>
        <p>Codemarket</p>
        <p>Local Business Best Friend.</p>
    </div> -->

    <div style="line-height: 9px;">
        <p>Yours sincerely,</p>
        <p>Dr. Aarom Orpelli, DC</p>
        <p>Orpelli Wellness Center</p>
        <p>www.drorpelli.com</p>
        <p>310-278-4567</p>
    </div>
<!-- </pre> -->