<!-- <pre> -->
    <p style="text-align: left; font-size: medium;">Dear <%= name %>,</p>

    <p style="text-align: left; font-size: medium;">
        My name is Sumi, I was at your BNI meeting today. I would love to learn more about you and your business.

        When is a good time for a meeting?
    </p>

    <img style="max-width: 400px;" src="<%= image %>" target="blank">

    <div style="line-height: 9px;">
        <p>Sumithra Jonnalagadda</p>
        <p>805-300-7217</p>
        <p>sumi@codemarket.io</p>
        <p>CEO & Founder</p>
        <p>Codemarket</p>
        <p>Local Business Best Friend.</p>
    </div>
<!-- </pre> -->